@page "/"
@namespace FSharp.Bolero.Server.Pages
@using global::Bolero.Server.RazorHost
@inject IBoleroHostConfig BoleroHostConfig
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bolero Application</title>
    <base href="/">
  </head>
  <body>
    <div id="main">@(await Html.RenderComponentAsync<Client.Main.MyApp>(BoleroHostConfig))</div>
    @Html.RenderBoleroScript(BoleroHostConfig)
  </body>
</html>
